<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--METADATA-->
    <meta name="description" content="Soulamare is a website that was developed to help people find soul or meaning in life." />
    <!--FAVICON-->
    <link rel="icon" href="../static/img/favicon_64.png">
    <!--APPLE-->
    <link rel="apple-touch-icon" href="../static/img/favicon_180.png">
    <!--ANDROID-->
    <link rel="manifest" href="../static/manitest.webmanifest">
    <!--MEDIA QUERY-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

<!--    TODO-->
    <!--CSS-->
    <link rel="stylesheet" href="../static/css/styles.css">
<!--    TODO-->
    <!--JAVASCRIPT-->
    <script defer src="../static/js/script.js"></script>
<!--    TODO-->
    <!--TITLE-->
    <title>Soulamare &mdash; Discover your soul</title>
</head>
<!---->
<body>
    <header>
        <div class="hero-left">
            <nav class="hero-left-nav">
                <img src="../static/img/heart.png" alt="Pink heart image">
                <p class="hero-left-nav-logo">Soulamare</p>
                <ul class="hero-left-nav-list">
                    <li><a class="hero-left-nav-link" href="#">Services</a></li>
                    <li><a class="hero-left-nav-link" href="#">About</a></li>
                    <li><a class="hero-left-nav-link" href="#">Donate</a></li>
                    <li><a class="hero-left-nav-link" href="#">FAQ</a></li>
                </ul>
            </nav>
            <div class="hero-left-content">
                <h1>Soulamare main idea</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cumque, ea laborum maiores mollitia rerum sed ullam unde vel velit veniam voluptatem voluptatibus. Beatae ea magni nesciunt totam vero voluptate?</p>
            </div>
        </div>

        <div class="hero-right">
            <nav class="hero-right-nav">
                <ul class="hero-right-nav-list">
                    <li><a class="hero-right-nav-link" href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                    <li><a class="hero-right-nav-link" href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                    <li><a class="hero-right-nav-link nav-login" href="#">Client Portal Login &rarr;</a></li>
                </ul>
            </nav>
        </div>
    </header>









<!--    <footer>-->

<!--        &lt;!&ndash;AUTOMATIC DATE UPDATE&ndash;&gt;-->
<!--        <p class="copyright">Copyright &copy; <span class="year">2027</span> by Soulamare, Inc. All rights reserved.</p>-->

<!--    </footer>-->

<!--    ION ICONS-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
<!---->
</html>