<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">

    <title>Soulamare</title>
</head>
<body>
    <section class="section-hero">
        <div class="hero">
            <div class="hero-text-box">
                <h1 class="heading-primary">
                    For those in wisdom, to finding soul
                </h1>
                <p class="hero-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut autem cum debitis deleniti dolore doloremque id incidunt libero molestias mollitia necessitatibus optio perspiciatis quasi reiciendis, saepe sapiente tenetur, veritatis.
                </p>
                <a href="#" class="btn">Button 1 &rarr;</a>
                <a href="#" class="btn">Button 2 &rarr;</a>
            </div>
            <div class="hero-img-box">
                <img src="../static/img/stones.jpg" class="hero-img" alt="Picture of stones">
            </div>
         </div>
    </section>



</body>
</html>