<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--METADATA-->
    <meta name="description" content="Soulamare is a website that was developed to help people find soul or meaning in life." />
    <!--FAVICON-->
    <link rel="icon" href="../static/img/favicon_64.png">
    <!--APPLE-->
    <link rel="apple-touch-icon" href="../static/img/favicon_180.png">
    <!--ANDROID-->
    <link rel="manifest" href="../static/manitest.webmanifest">
    <!--MEDIA QUERY-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FONT-->
<!--    TODO-->
    <!--CSS-->
    <link rel="stylesheet" href="../static/css/styles.css">
<!--    TODO-->
    <!--JAVASCRIPT-->
    <script defer src="../static/js/script.js"></script>
<!--    TODO-->
    <!--TITLE-->
    <title>Soulamare &mdash; Discover your soul</title>
</head>
<!---->
<body>
    <header>
        <div class="logo">
            <a href="#"><img class="logo-img" src="../static/img/heart.png" alt="Pink heart image"></a>
            <p>Soulamare</p>
        </div>

    </header>

    <footer>

        <!--AUTOMATIC DATE UPDATE-->
        <p class="copyright">Copyright &copy; <span class="year">2027</span> by Soulamare, Inc. All rights reserved.</p>

    </footer>
</body>
<!---->
</html>